@import url("https://fonts.googleapis.com/css?family=Mukta:700");

:root {
  --main-white: #f0f0f0;
  --main-red: #971425;
  --main-blue: #4179a7;
  --main-gray: #303841;
  --red-usco: #8f141b;
  --blue-dark: #0d3b66;
  --nice-cyan: #0998cc;
  --nice-blue: #0966b3;
  --main-background: #f4f7f7;
  --main-dark-gray: #292929;
  --main-light-gray: #a1a1a1;
  --light-blue: #d2e3e9;
}

/* Border-box to all elements and pseudo-elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-dark-gray);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: var(--main-red); */
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
  background: linear-gradient(45deg, var(--nice-cyan), var(--blue-dark));
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav-links {
  display: flex;
  margin-right: 2rem;
}

.nav-links a {
  display: block;
  font-size: 2.2rem;
  /* padding: 2rem; */
}

.nav-button {
  position: relative;
  margin: 0 2rem;
  padding: 2rem 2rem;
  text-decoration: none;
  background: transparent;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  font-weight: 700;
}

.nav-button:hover {
  background-color: #caf1f82d;
}

/* Mobile Responsiveness */
@media (max-width: 18.75em) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* Proyects */
.projects-section {
  text-align: center;
  padding: 15rem 3rem;
  background-color: #0a386396;
}


.projects-section > h2 {
  color: var(--light-blue);
  text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.637);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}


/* "Automatic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 15rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  padding: 0 0 3rem 0;
  background: var(--main-gray);
  box-shadow: 3px 3px 5px rgba(43, 41, 41, 0.39);
  border-radius: 15px;
}

.project:hover {
  transform: scale(1.01);
  background-color: var(--main-dark-gray);
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.project-image:hover {
  filter: saturate(1.5) brightness(1.1);
}

.project-title {
  font-size: 1.7rem;
  height: 4em;
  padding: 2rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-title:hover {
  font-weight: 800;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Footer */

footer {
  padding: 20px;
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--blue-dark);
}

footer > p {
  margin: 2rem;
  color: var(--main-white);
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
