@import url("https://fonts.googleapis.com/css?family=Mukta:700");

:root {
  --main-white: #f0f0f0;
  --main-red: #971425;
  --main-blue: #4179a7;
  --main-gray: #303841;
  --red-usco: #8f141b;
  --blue-dark: #0d3b66;
  --nice-cyan: #0998cc;
  --nice-blue: #0966b3;
  --main-background: #f4f7f7;
  --main-dark-gray: #292929;
  --main-light-gray: #a1a1a1;
  --light-blue: #d2e3e9;
}

/* Border-box to all elements and pseudo-elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 18.75em) {
  main {
    padding-top: 92rem;
  }
}

main {
  background: var(--main-background);
  display: flex;
  padding-top: 8rem;
  flex-direction: column;
  min-height: 100vh;
}

p {
  padding-bottom: 1rem;
}

h1.title {
  height: 100%;
  text-align: center;
  font-size: 4rem;
  color: var(--nice-blue);
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.justify-paragraph {
  text-align: justify;
  text-justify: inter-word;
}

.project-container {
  padding: 2rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, #e9edee, var(--main-background));
}

@media (max-width: 61.25em) {
  .project-container {
    padding: 2rem 5rem;
  }
}

@media (max-width: 28.75em) {
  .project-container {
    padding: 2rem 2rem;
  }
}

mjx-container[jax="CHTML"][display="true"] {
  margin: 0.5rem 0rem;
}

.formula {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue-dark);
  text-align: center;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--main-light-gray);
  border-radius: 10px;
}

.res-link {
  color: var(--blue-dark);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  border: solid 0.1rem var(--main-light-gray);
  border-radius: 10px;
  padding: 0 0.5rem;
}

.res-link:hover {
  color: var(--nice-cyan);
}

ol {
  padding-left: 2rem;
}

img {
  width: 75%;
  height: auto;
  border-radius: 15px;
  margin: 2rem;
  box-shadow: 2px 5px 15px rgba(26, 28, 32, 0.322);
  transition: all 0.3s ease-in-out;
}

.advantages-list {
  width: 100%;
}

.advantages-item {
  padding: 1rem 0;
}
