
:root {
  --main-white: #f0f0f0;
  --main-red: #971425;
  --main-blue: #4179a7;
  --main-gray: #303841;
  --red-usco: #8f141b;
  --blue-dark: #0d3b66;
  --nice-cyan: #0998CC;
  --nice-blue: #0966b3;
  --main-background: #f4f7f7;
  --main-dark-gray: #292929;
  --main-light-gray: #a1a1a1;
  --light-blue: #d2e3e9;
}


/* Border-box to all elements and pseudo-elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-dark-gray);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
color: var(--main-white);}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: var(--main-red); */
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
  background: linear-gradient(45deg, var(--nice-cyan), var(--blue-dark));
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav-links {
  display: flex;
  margin-right: 2rem;
}


.nav-links a {
  display: block;
  font-size: 2.2rem;
  /* padding: 2rem; */
}

/* .nav-links a:hover {
  background: var(--main-blue);
} */
.nav-button {
  position: relative;
  margin: 0 2rem;
  padding: 2rem 2rem;
  text-decoration: none;
  /* font-size: 1rem; */
  /* color: white; */
  background: transparent;
  /* border: none; */
  /* outline: none; */
  /* cursor: pointer; */
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.nav-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


/* Mobile Responsiveness */
@media (max-width: 35.25em) {
  .navbar {
      flex-direction: column;
      height: auto;
  }

  .nav-links {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .nav-button {
      margin: 1rem 0;
  }
}


/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: var(--main-background); */
  background-image: linear-gradient(62deg, var(--main-background) 0%, var(--light-blue) 100%);
}

.welcome-section-info {
  margin: 0 8rem;
  text-align: center;
}
.welcome-section p {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  color: var(--main-dark-gray);
}

.long-info {
  margin-bottom: 1.1rem;
}

.welcome-section h1 {
  color: var(--blue-dark);
  text-align: center;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section > h2 {
  color: var(--light-blue);
  text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.637);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--blue-dark);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-background);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  color: var(--main-gray);
  text-shadow: 1px 1px 3px #868484a4;
  transition: transform 0.3s ease-out;
}

.contact-links {
  color: var(--red-usco);
}

.contact-details:hover {
  transform: translateY(8px);
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 17rem;
  right: 3rem;
  font-size: 3rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background: var(--blue-dark);
  border-radius: 15px;
  z-index: 99;
}

.back-to-top:hover {
  background: var(--nice-blue);
}


/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--blue-dark);
}

footer > p {
  margin: 2rem;
  color: var(--main-white);
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}